body, html {
  height: 100%;
  margin: 0;
  font-size:10px;
  /* font-family: 'Chakra Petch', sans-serif; */
  font-family: 'Sarabun', sans-serif;

}
h1 {
	font-size:4rem;
	color: white;
}
h2 {
	font-size:3.6rem;
}
h3 {
	font-size:3.2rem;
}
h4 {
	font-size:2.8rem;
}
h5 {
	padding:1rem 0;
	font-size:2rem;
}
p {
	font-size:1.5rem;
	line-height: 3rem;
}
i {
	color: #000000;
	padding-right:1rem;
}
.i-social-group{
	padding:2rem 2rem 2rem 0;
}
.i-social-group p{
	font-size:4rem;
}
.i-social-item{
	cursor: pointer;
}
hr{
	/* margin-left:0; */
	border: 1px solid;
	width:100%;
}
hr.black{
	border-color:#000000;
}
hr.orange{
	border-color:#FFB900
}
section {
	padding:5rem;
}
div {
	padding:1rem;
}


#nav {
/*	  height: 80px;*/
  background-color:#000000;  /*Black background color*/ 
  position: fixed; /* Make it stick/fixed */
  top: 0px; /* Hide the nav 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 10s; /* Transition effect when sliding down (and up) */
  transition: background-color 0.3s ease; /* Transition effect when sliding down (and up) */
  z-index: 9999;
 /* border-bottom: 2px solid grey;*/
}
#logo-nav{
	width:10rem;
}
#nav span {
	fill:white;
}

/* Style the nav links */
#nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
#nav a p{
  font-size: 2rem;
  line-height: 2rem;
  transition: all 0.4s ease 0s;
}

#nav a:hover p{
 /* background-color: #ddd;*/
  color: #FFB900;
  border-bottom: 2px solid #FFB900;
  line-height: 2rem;
  transition: all 0.4s ease 0s;

}
.navbar-collapse {
	background-color:#000000;
}
.navbar-toggler {
	margin-right: 3rem;
	font-size:3rem;
}

section.bg-home{
   /* The image used */
  background-image: url("home.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.bg-home-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:0;
  background:#000000b5;
  opacity: 0.5;

}
.big-header{
	padding:5rem;
	color:whitesmoke
}
section.what-we-are{
	position:relative;
	background-color: #313131;
	z-index: 1;
	padding:0;
	margin:0;
}
.what-we-are .row{
	margin:0;
	padding:0;
}
.what-we-are h2{
	color:#FFFFFF;
}
.what-we-are p{
	margin-top:3rem;
	color:#D2D2D2;
}
.what-we-are .message{
	padding:5rem 5rem 5rem 20rem;
}
section.what-we-do{
	color:black;
	background-color: #FFB900;
}
.what-we-do h2{
	text-align: center;
	color:#000000;
}
.what-we-do h5{
	text-align: center;
	color:#000000;
	margin-top:3rem;
}
.card-deck{
	margin-top:3rem;
}
.card {
	/*color: #fff !important;*/
/*	background-color: #262626;*/
/*	color:#EBEBEB;*/
	
	text-decoration: none;
	background-color: #313131;
	padding: 0rem;
	border-radius: 5px;
	/*display: inline-block;*/
	border: none;
	transition: all 0.4s ease 0s;
	fill:#FFB900;
}
h5.card-title{
	margin-top:0;
	text-align:left;
	color:#FFB900;
}
p.card-text{
	color:#D2D2D2;	
}
.svg-we-do{
	padding:4rem 2rem;
}
.svg-we-do img{
	width:8rem;
	height: 8rem;
}
section.why-us{
	text-align: center;
	background-color:#262626;
}
.why-us h2{
	color:#FFFFFF;
}
.why-us p{
	color:#D2D2D2;
}
.svg-why-us img{
	width: 20rem;
	height: 20rem;
	padding:2rem;
}
section.product-support{
	margin:0;
	padding:0;
	text-align: left;
}
.product-support .row{
	padding:0;
	margin:0;
}
.product-support .product-left{
	padding:8rem;
	background-color:#FFC733;
	color:#292828;
}
.product-support .product-right{
	padding:8rem;
	background-color:#292828;
	color:white;
}
section.portfolio{
	text-align: center;
	background-color:#FFB900;
}
.portfolio h2,h5{
	color:#000000;
}
.portfolio .img-item{
	padding:1rem;
	width:100%;
	height: 25rem;
}
.portfolio .filter-button-group{
	padding:4rem;
}
.portfolio .filter-button-group button{
	margin:1rem;
}
section.our-client{
	margin: 0;
	padding: 0;
	background-color:#FFFFFF;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding:5rem;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 25rem;
  position: absolute;
  width: 20rem;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 100%;
  padding:0;
}
.slider .slide {
  height: 25rem;
  width: 25rem;
  padding:0;
}
section.contact{
	/*height: 100%;*/
	position:relative;
	background: #FFB900;
	color:#F6F6F6;
	padding: 0;
	margin:0;
	z-index: 1;
	/*background-image: url("1.jpg");
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-color: grey;*/
}

.contact .message{
	color:#000000;
}
.map{
	margin: 0;
	padding:0;
}
#map {
	width:100%;
	height:100%;
}
button {
	font-size:1.5rem;
}
button span{
	font-size:1.5rem;
}
.btn-full {
	/*color: #fff !important;*/
	color:#EBEBEB;
	text-decoration: none;
	background-color: #313131;
	padding: 1rem 4rem;
	/*border-radius: 5px;*/
	display: inline-block;
	border: 2px;
	transition: all 0.4s ease 0s;
}
.btn-full:hover {
	color: #EBEBEB;
	background-color: #000000;;
/*	letter-spacing: 0.5px;*/
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.btn-full.active{
	color: #EBEBEB;
	background-color: #000000;
/*	letter-spacing: 0.5px;*/
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.btn-outline {
	color: #FFB900 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
	padding: 1rem 4rem;
	border: 2px solid #FFB900 !important;
	border-radius:16px;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.btn-outline:hover {
	color: #000000 !important;
	background: #FFB900;
	/* border-radius: 0; */
	/*border-color: #FFC733 !important;*/
	transition: all 0.4s ease 0s;
	
}
.btn-detail {
   border-radius: 4px;
   background: black ;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 1.4rem;
   padding: 1rem 4rem;
   transition: all 0.4s;
   cursor: pointer;
  /* margin: 5px;*/
 }
.btn-detail span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .btn-detail span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .btn-detail:hover span {
   padding-right: 25px;
 }
 .btn-detail:hover span:after {
   opacity: 1;
   right: 0;
 }



.vl {
  border-right: 2px solid black;
  height: 5rem;


}

footer {
	background-color: black;
}

/*Special Case*/
@media only screen and (max-width:1400px) { 
	.what-we-are .message{
		padding:5rem;
	}
}
/*Ipad*/
@media only screen and (max-width:1024px) { 
		html,body{
		font-size:8px;
		width: 100%;
		}
		section{
			padding:8rem 2rem;
		}
}

/*Mobile*/
@media only screen and (max-width:480px) { 
		html,body{
		font-size:7px;
		width: 100%;
		}
		section{
			padding:8rem 2rem;
		}
		.what-we-are .message{
			padding:5rem;
		}
		.product-support .product-left{
			padding:5rem;
			background-color:#292828;
			color:#EBEBEB;
		}
		.product-support .product-right{
			padding:5rem;
			
		}
		#map {
			width:100%;
			height:50rem;
		}
}
